.container{
    position: static;
    display: flex;
    height: 100rem;
    height: 40.125rem;
}
.left{
    width: 51.1875rem;
height: 40.125rem;
    background-color:var(--Green-Dark, #1A543A);
}
.ringht{
    width: 51.1875rem;
height: 40.125rem;
background-image: url(imge/ảnh.png);
}
.logo{
    width: 9.5625rem;
height: 3.375rem;
padding: 20px 0px 5px 100px;

flex-shrink: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 45px 0px 0px 100px;
    width: 200px;
   

  }
  
  li a {
    display: block;
    color:white;
    padding: 8px 16px;
    border-bottom: 1px solid #ffffff9d;
    text-decoration: none;
    font-size: 25px;
    gap: 1.5rem;
  }
  
 
  li a:hover {
    background-color: #555;
    color: white;
  }
.close{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0px 0px;
    border-radius: 5px;
}
.close img{
    border-radius: 10px;
    background-color: #D9D9D9;
    font-size: 5px;  
}
.action2{
    width: 100%;
    height:600px ;
   padding-left: 370px;
   margin-top: 50px;
  
}
.chill{
    width: 48.5625rem;
    height: 35.25rem;  
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image: url('imge/Rectangle 34624870.png'); 
    background-size: cover;
    display: flex;
    justify-content: flex-end;

 
}
.icon{
    display: flex;
    width: 165px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 20px;
    opacity: 0.5;
    justify-content: center;
    margin: 10px ;
    gap: 5px;
    
}
.all img{
    color: red;  
}
.watch{
    margin-top: 5px;
}
.text{
    margin-top: 7px;
    
}
.bottom{
    display: flex;
    margin-top: 100px;
}
.center{
    display: flex;
    justify-content: center;
    width: 72rem;
    height: 46rem;
}
.next{
    display: flex;
    justify-content: center;
    width: 71.5625rem;
    height: 45.9rem;
border-radius: 20px;
background-repeat: no-repeat;
background-image: url('/imge/495236124\ 1.png');
background-size: cover;


}
.next img{
    position: absolute;
  left: 0px;
  top: 1500px;
  z-index: 1;
  margin-top:190px ;
  padding-left: 350px;
    
  }
/* h1{
    margin-top: 100px;
} */
.travel{
    margin-top: 250px;
}
.travel h1{
   font-size: 75px;
   color: white;
}
.bike img{
    margin-top: 580px;
}
.bike h1{
    margin-top: 195px;
    font-size: 40px;
    padding-left: 170px;
}

.email h3{
    margin-top: -28px;
    padding-left: 100px;
    font-size: 20px;
}
.email p{
    margin-top: -15px;
    padding-left: 75px;
    color: #d9d9d9b0;
}